body {
  background: #2b303b;
  color: #c0c5ce;
  font-family: Default_sans;
}
textarea {
  color: #c0c5ce;
  font-family: Default_sans;
}
blockquote {
  border-left: 3px solid #5b606c;
}
hr {
  border-top: 1px solid #464c5a;
}
mark {
  background-color: #b2af26;
  color: #2b303b;
}
/* code color scheme: rainbow */
code {
  color: #d5e5f6;
  background-color: #3e4656;
  border: none;
  font-family: Droid_sans_mono;
}
pre {
  color: #2b303b;
  background-color: #3e4656;
  border: 1px solid #677085;
}
button {
  background-color: #4d5b68;
  border: none;
  color: #d8dde6;
  font-family: Default_sans;
}
select {
  color: #d8dde6;
  background-color: #343d46;
  border-color: #4d5b68;
  font-family: Default_sans;
}
table > thead > tr > th {
  border-bottom: 2px solid #8795b2;
}
table > tbody > tr:nth-child(odd) > td, table > tbody > tr:nth-child(odd) > th {
  background-color: #3e4656;
}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
  border-top: 1px solid #838a99;
}

.message {
  border-left: 1px solid #65737e80;
}
.refmessage {
  border-left: 1px solid #65737e;
}
.nick {
  color: #8fa1b3;
}
.trip {
  color: #4f5b66;
}
.text a {
  color: #dfe1e8;
}
.admin .nick {
  color: #8bcc94;
}
.member .nick {
  color: #96b5b4;
}
.me .nick {
  color: #b48ead;
}
.info .nick,
.info .text {
  color: #a3be8c;
}
.warn .nick,
.warn .text {
  color: #ebcb8b;
}
#footer {
  background: #2b303b;
}
#sidebar {
  background: #343d46;
  border-color: #65737e;
}
#chatform {
  border-color: #65737e;
}